body {
  background-color: #ffffff;
  margin: 0;
  padding: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222;
  line-height: 1.6;
}

.intro-screen {
  background-color: #ec6f2c;
  color: #fffde0;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Gill Sans', sans-serif;
  position: relative;
  overflow: hidden;
}

.title-text {
  text-align: center;
  margin-bottom: 2rem;
}

.record-img {
  position: absolute;
  left: -300px;
  width: 180px;
  transition: transform 1.5s ease-out, left 1.5s ease-out;
}

.record-img.animate-in {
  left: 50%;
  transform: translateX(-50%);
}

.main-content.hidden {
  display: none;
}


.hero {
  text-align: center;
  padding: 3rem 1rem 2rem;
}

.record-img {
  width: 180px;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 1.8rem;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
}

.intro {
  max-width: 650px;
  margin: 2rem auto;
  font-size: 1.1rem;
  padding: 0 1rem;
}

.genre {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.genre-wrapper {
  text-align: center;
  background: #fff;
  padding: 2rem;
  max-width: 320px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.genre-wrapper:hover {
  transform: translateY(-5px);
}

.genre-img {
  width: 100%;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  border-radius: 8px;
}

.genre-title {
  font-size: 1.4rem;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
}

.genre-text {
  font-size: 1rem;
  color: #444;
}

.genre-section {
  padding: 4rem 2rem;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #eee;
}

.genre-heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.genre-covers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.images {
  width: 5cm;
  height: 5cm;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 0.4rem;
  transition: transform 0.3s ease;
}

.genre-covers img:hover {
  transform: translateY(-4px);
}


.genre-description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.05rem;
  color: #444;
  line-height: 1.6;
}
